@use '../../utils/variables.scss' as *;

.btn {
  width: 200px;
  padding: 10px 5px;
  color: #7e57c2;
  border: 1px solid $back-btn-color;
  transition: all 0.4s;
  outline: 0;

  &:hover,
  &:active {
    background-color: $back-btn-color;
    color: #fff;
  }
}
