$very-weak-color: #f44336;
$weak-color: #ff9800;
$good-color: #fff176;
$strong-color: #9ccc65;
$no-password-bgc: #e0e0e0;

.PasswordStrengthBox {
  position: relative;
  margin-bottom: 8px;

  .strengthBarWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;

    .strengthBar {
      position: relative;
      width: 250px;
      height: 10px;
      background-color: $no-password-bgc;
      border-radius: 5px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 5px;
        height: 100%;
        width: 0%;
        transition: all 0.5s ease-in-out;
      }
      &.veryWeak::after {
        width: 25%;
        background-color: $very-weak-color;
      }
      &.weak::after {
        width: 50%;
        background-color: $weak-color;
      }
      &.good::after {
        width: 75%;
        background-color: $good-color;
      }
      &.strong::after {
        width: 100%;
        background-color: $strong-color;
      }
    }

    * {
      margin: 0;
    }
  }

  .strengthBarComment {
    position: absolute;
    margin: 0;
    bottom: -20px;
  }
}
